.bem-SpeakerCard {
  max-width: 290px;
  height: 100%;

  &__card {
    height: 100%;
  }

  &__media {
    position: relative;
    div {
      height: 290px;
      width: 290px;
    }
  }

  &__flag {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
  }
}